assemblyai==0.22.0
langchain==0.2.11
langchain_anthropic==0.1.21
langchain_community==0.2.10
langchain_google_genai==1.0.8
langchain_pinecone==0.1.3
protobuf==4.25.3
pydub==0.25.0
pydub==0.25.1
PyPDF2==3.0.1
python-dotenv==1.0.1
pytubefix==6.7.0
reportlab==4.1.0
streamlit==1.28.2
streamlit==1.34.0
transformers==4.28.1
transformers==4.19.0
transformers==4.43.2
transformers==4.41.2
transformers==4.41.0
